*.log
*.tmp
*.swp
*.bak
*~
.DS_Store

*.pem
*.key
*.p12
*.pfx
id_rsa*
id_ed25519*
*.gpg
credentials
.netrc
token*
*token-default*
.bootdev.yaml

config/**/Cache/
config/**/GPUCache/
config/**/*cache*/
