 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #644A82;
active-foreground: #FDDBD1;
normal-background: #26202B;
normal-foreground: #FDDBD1;
urgent-background: #F35D7D;
urgent-foreground: #FDDBD1;

alternate-active-background: #F35D7D;
alternate-active-foreground: #FDDBD1;
alternate-normal-background: #26202B;
alternate-normal-foreground: #FDDBD1;
alternate-urgent-background: #26202B;
alternate-urgent-foreground: #FDDBD1;

selected-active-background: #644A82;
selected-active-foreground: #FDDBD1;
selected-normal-background: #F4C3B5;
selected-normal-foreground: #FDDBD1;
selected-urgent-background: #F35D7D;
selected-urgent-foreground: #FDDBD1;

background-color: #26202B;
background: rgba(0,0,0,0.7);
foreground: #F4C3B5;
border-color: #644A82;
}

