 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #45525D;
active-foreground: #B8CAD2;
normal-background: #141619;
normal-foreground: #B8CAD2;
urgent-background: #827DA6;
urgent-foreground: #B8CAD2;

alternate-active-background: #61899A;
alternate-active-foreground: #B8CAD2;
alternate-normal-background: #141619;
alternate-normal-foreground: #B8CAD2;
alternate-urgent-background: #141619;
alternate-urgent-foreground: #B8CAD2;

selected-active-background: #45525D;
selected-active-foreground: #B8CAD2;
selected-normal-background: #91ABB6;
selected-normal-foreground: #B8CAD2;
selected-urgent-background: #827DA6;
selected-urgent-foreground: #B8CAD2;

background-color: #141619;
background: rgba(0,0,0,0.7);
foreground: #91ABB6;
border-color: #45525D;
}

