 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #C38B7B;
active-foreground: #FAFCFB;
normal-background: #0C0B0C;
normal-foreground: #FAFCFB;
urgent-background: #B59790;
urgent-foreground: #FAFCFB;

alternate-active-background: #C4D8E2;
alternate-active-foreground: #FAFCFB;
alternate-normal-background: #0C0B0C;
alternate-normal-foreground: #FAFCFB;
alternate-urgent-background: #0C0B0C;
alternate-urgent-foreground: #FAFCFB;

selected-active-background: #C38B7B;
selected-active-foreground: #FAFCFB;
selected-normal-background: #FAFCFB;
selected-normal-foreground: #FAFCFB;
selected-urgent-background: #B59790;
selected-urgent-foreground: #FAFCFB;

background-color: #0C0B0C;
background: rgba(0,0,0,0.7);
foreground: #E2DDDC;
border-color: #C38B7B;
}

